@import url("./fonts.css");
@import url("./root.css");
@import url("./personalize.css");
@import url("./grid.css");

html {
  color-scheme: dark light;
}

body {
  font-family: var(--ff-base);
  font-size: var(--fs-400);
  color: var(--clr-body);
  line-height: 1.7;
}

:where(article, article section) > * {
  margin-block-start: var(--flow-space, 0.5em);
}

img {
  /* Center images */
  margin: 0 auto;
}

em {
  font-family: var(--ff-base-italic);
}

strong {
  font-family: var(--ff-base-bold);
}

strong em {
  font-family: var(--ff-base-bold-italic);
}

h1,
h2,
h3 {
  font-family: var(--ff-heading);
  line-height: 1.1;
  text-wrap: balance;
}

h1 {
  --font-weight: 120;
  --font-midline: 0;
  --font-contrast: 0;

  font-size: var(--fs-800);
  font-variation-settings: "wght" var(--font-weight), "MIDL" var(--font-midline),
    "CONT" var(--font-contrast);
  transition: font-variation settings 500ms;
  color: var(--clr-primary);

  &:hover {
    --font-weight: 1000;
    --font-midline: -1000;
  }
}

h2 {
  --font-weight: 100;
  --font-midline: 0;
  --font-contrast: 250;
  --flow-space: 1em;

  font-size: var(--fs-700);
  font-variation-settings: "wght" var(--font-weight),
    "CONT" var(--font-contrast), "MIDL" var(--font-midline);
  transition: font-variation-settings 500ms;
  color: var(--clr-primary);

  &:hover {
    --font-weight: 1000;
    --font-midline: -1000;
  }
}

h3 {
  --font-weight: 190;
  --font-midline: 0;
  --font-contrast: 250;

  font-size: var(--fs-600);
  font-variation-settings: "wght" var(--font-weight),
    "CONT" var(--font-contrast), "MIDL" var(--font-midline);
  transition: font-variation-settings 500ms;
  color: var(--clr-text);

  &:hover {
    --font-weight: 1000;
    --font-midline: -1000;
  }
}

h4 {
  font-size: var(--fs-500);
  color: var(--clr-primary);
}

a {
  color: var(--clr-primary);
}

a:hover,
a:focus {
  color: var(--clr-accent);
}

blockquote {
  display: block;
  background: #fff;
  padding: 15px 20px 15px 45px;
  position: relative;
  text-align: justify;
  border-left: 15px solid #c76c0c;
  border-right: 2px solid #c76c0c;
  box-shadow: 2px 2px 15px #ccc;
}

blockquote::before {
  font-family: "Times New Roman", serif;
  content: "\201C";
  font-size: 60px;
  font-weight: bold;
  color: #999;
  position: absolute;
  left: 10px;
  top: -10px;
}

blockquote::after {
  content: "";
}

hr {
  margin: 1.2em 0;
  border: 0;
  height: 2px;
  background-image: linear-gradient(
    to right,
    rgba(0 0 0 / 0%),
    rgba(0 0 0 / 75%),
    rgba(0 0 0 / 0%)
  );
}
